<li>
  <abbr
    title="<%= @port.manufacturer %> <%= @port.name %> (<%= @port.id %>)">
  <%= @port.name %></abbr>:
  <%= @port.state %>
  ch:
  <%= for {x,_y} <- @port.channels do %>
    <%= x %>,
  <% end %>
</li>
